:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(240, 240, 240);
    --font-color: blue;
    --second-font-color: black;
    --box-shadow: 0px 0px 5px grey;

    &:has(.tgl:checked) {
        --primary-color: #1B1B1B;
        --secondary-color: #373737;
        --font-color: white;
        --second-font-color: white;
        --box-shadow: 0px 0px 5px #0e0e0e;
    }
}

html,
body {
    height: 100%;
    color: var(--second-font-color);
}

body {
    display: flex;
    flex-direction: column;
}

#popover {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 20px 50px;
    border-radius: 15px;
    border-style: none;
    background-color: var(--primary-color);
    color: var(--second-font-color);
    font-weight: 500;

    &::backdrop {
        background-color: rgba(50, 50, 50, 0.5);
        background-image: url("./images/confettis.gif");
    }
}

#close-popover {
    text-decoration: none;
    color: var(--font-color);
    border-color: var(--font-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    margin-top: 20px;

    &:hover {
        background-color: var(--font-color);
        color: var(--primary-color);
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 15px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 10px;
}

.navbar-items li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-items li a {
    text-decoration: none;
    color: var(--font-color);
    border-color: var(--font-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    text-transform: uppercase;

    &:hover {
        background-color: var(--font-color);
        color: var(--primary-color);
    }
}

.checkbox-wrapper-6 .tgl {
    display: none;
}

.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-6 .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-6 .tgl+.tgl-btn:after,
.checkbox-wrapper-6 .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-6 .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-6 .tgl+.tgl-btn:before {
    display: none;
}

.checkbox-wrapper-6 .tgl:checked+.tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-6 .tgl-light+.tgl-btn {
    background: var(--secondary-color);
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.checkbox-wrapper-6 .tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: var(--primary-color);
    transition: all 0.2s ease;
}

.checkbox-wrapper-6 .tgl-light:checked+.tgl-btn {
    background: var(--font-color);
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 50px;
}

.title img {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
    ;
    gap: 10px;
}

.square-a {
    grid-area: a;
}

.square-b {
    grid-area: b;
}

.square-c {
    grid-area: c;
}

.square-d {
    grid-area: d;
}

.square-e {
    grid-area: e;
}

.square-f {
    grid-area: f;
}

.square-g {
    grid-area: g;
}

.square-h {
    grid-area: h;
}

.square-i {
    grid-area: i;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-color: grey;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;

    &:has(.square-img-show) {
        background-color: var(--primary-color);
    }
}

.square-img-hide {
    display: none;
}

.square-img-show {
    display: block;
    width: 70px;
    height: 70px;
}

.reset-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reset {
    min-width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--primary-color);
    padding: 10px 30px;
    margin-bottom: 10px;
    margin-top: 25px;
    border-radius: 15px;
    transition-duration: 0.4s;
    text-transform: uppercase;

    &:hover {
        background-color: var(--font-color);
        color: var(--primary-color);
    }
}

.scoresTable {
    margin-top: 50px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 50px;
}

.scoresTable h2 {
    margin-bottom: 30px;
}

.winners-rotate {
    animation: winners-rotate 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}

@keyframes winners-rotate {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
    font-weight: 500;
}