html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 10px;
}

.navbar-items li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-items li a {
    text-decoration: none;
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(240, 240, 240);
    text-transform: uppercase;

    &:hover {
        background-color: blue;
        color: white;
    }
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px grey;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 50px;
}

.title img {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
    ;
    gap: 10px;
}

.square-a {
    grid-area: a;
}

.square-b {
    grid-area: b;
}

.square-c {
    grid-area: c;
}

.square-d {
    grid-area: d;
}

.square-e {
    grid-area: e;
}

.square-f {
    grid-area: f;
}

.square-g {
    grid-area: g;
}

.square-h {
    grid-area: h;
}

.square-i {
    grid-area: i;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-color: grey;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;

    &:has(.square-img-show) {
        background-color: #fff;
    }
}

.square-img-hide {
    display: none;
}

.square-img-show {
    display: block;
    width: 70px;
    height: 70px;
}

.reset-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reset {
    min-width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: blue;
    background-color: rgb(255, 255, 255);
    padding: 10px 30p;
    margin-bottom: 10px;
    margin-top: 25px;
    border-radius: 15px;
    transition-duration: 0.4;
    text-transform: uppercase;
    border-color: blue;

    &:hover {
        background-color: blue;
        color: white;
    }   
}

.winners-rotate {
    animation: winners-rotate 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}

@keyframes winners-rotate {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

footer {
    text-align: center;
    padding: 10px
    font-weight: 500;
}